--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
bitsandbytes==0.43.1
gradio==5.25.0
imageio==2.37.0
liger_kernel==0.5.5
numpy==2.2.4
openai==1.73.0
peft==0.10.0
Pillow==11.2.1
pygame==2.6.1
qwen_vl_utils==0.0.10
safetensors==0.5.3
tqdm==4.66.4
transformers==4.50.1
ujson==5.10.0
deepspeed==0.16.4
trl==0.16.1